<center>
  <div class="image-wrapper">
    <img src="/assets/asAboveSoBelow.PNG" alt="Reflection">
  </div>

  <div class="welcome">
    <h1>Welcome to Daily Inspiration</h1>
    <h2>Daily Inspiration hopes to help you start your day off with positive affirmations.</h2>
  </div>

  <%= button_to 'Go to Cards', '/cards', method: :get, :class => "btn btn-info" %>
</center>
